# Files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Extensions to ignore
*.html
*.png
*.jpg
*.jpeg
*.eps
*.pdf
*.bmp
*.svg
*.tiff
*.Rproj

# Folders to ignore
archive/
scratch/
test/

# Keywords to ignore
*archive